body
{
    background-image: url(../img/Homeimages/home-bg-img.png);
}
.container
{
    background-color: rgb(119, 147, 206);
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    color: white;
    width: 100%;
    border-radius: 10px;
}
label
{
    color: white;
    font-weight: bold;
}
h5{
    color: white;
}
.title
{
    margin-top: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: darkblue;
}